# Predictive analysis of stroke risk factors and contributors

---

## Reading the CSV file

In [2]:
# Import dependencies 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#reading the csv file 

data = pd.read_csv('./data/healthcare-dataset-stroke-data.csv')
data.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

# Cleaning Data

In [4]:
#data´s info 
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [10]:
data.shape

(5110, 12)

The data frame has 5,110 rows and 12 columns

In [8]:
#possible duplicates
data.duplicated().value_counts()

False    5110
dtype: int64

According to the operation above, we found that there are not duplicated values

In [16]:
#
data['gender'].value_counts(normalize=True).mul(100).round(2).astype(str) + "%"

Female    58.59%
Male      41.39%
Other      0.02%
Name: gender, dtype: object

In [17]:
#for cleaning, we are going to drop the "other" values
data = data[data['gender']!='Other']
data.shape

(5109, 12)

In [21]:
#Checking for NA values

data.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

We decided to drop the missing values to ensure our data is uniform, due to the minimum impact (0.4%) on patient records.

In [23]:
#With the "isnull" we can see if there are any NA values in the data frame, in this case the column bmi has 201 NA values
#drop NA
data = data.dropna()
data

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
5,56669,Male,81.0,0,0,Yes,Private,Urban,186.21,29.0,formerly smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5104,14180,Female,13.0,0,0,No,children,Rural,103.08,18.6,Unknown,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [27]:
#make the id column the index
data = data.set_index('id').sort_values('id', ascending=True)
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
77,Female,13.0,0,0,No,children,Rural,85.81,18.6,Unknown,0
84,Male,55.0,0,0,Yes,Private,Urban,89.17,31.5,never smoked,0
91,Female,42.0,0,0,No,Private,Urban,98.53,18.5,never smoked,0
99,Female,31.0,0,0,No,Private,Urban,108.89,52.3,Unknown,0
129,Female,24.0,0,0,No,Private,Urban,97.55,26.2,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...
72911,Female,57.0,1,0,Yes,Private,Rural,129.54,60.9,smokes,0
72914,Female,19.0,0,0,No,Private,Urban,90.57,24.2,Unknown,0
72915,Female,45.0,0,0,Yes,Private,Urban,172.33,45.3,formerly smoked,0
72918,Female,53.0,1,0,Yes,Private,Urban,62.55,30.3,Unknown,1
72940,Female,2.0,0,0,No,children,Urban,102.92,17.6,Unknown,0

In [29]:
#For better understanding of the data we are going to replace the 0 to No and the 1 to Yes

data = data.replace([0,1], ['No', 'Yes'])
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
id,,,,,,,,,,,
77,Female,13.0,No,No,No,children,Rural,85.81,18.6,Unknown,No
84,Male,55.0,No,No,Yes,Private,Urban,89.17,31.5,never smoked,No
91,Female,42.0,No,No,No,Private,Urban,98.53,18.5,never smoked,No
99,Female,31.0,No,No,No,Private,Urban,108.89,52.3,Unknown,No
129,Female,24.0,No,No,No,Private,Urban,97.55,26.2,never smoked,No
...,...,...,...,...,...,...,...,...,...,...,...
72911,Female,57.0,Yes,No,Yes,Private,Rural,129.54,60.9,smokes,No
72914,Female,19.0,No,No,No,Private,Urban,90.57,24.2,Unknown,No
72915,Female,45.0,No,No,Yes,Private,Urban,172.33,45.3,formerly smoked,No
72918,Female,53.0,Yes,No,Yes,Private,Urban,62.55,30.3,Unknown,Yes
72940,Female,2.0,No,No,No,children,Urban,102.92,17.6,Unknown,No

In [32]:
#Statistics summary of avg glucose level and bmi(Body Mass Index)
data.describe()

       avg_glucose_level         bmi
count        4908.000000  4908.00000
mean          105.297402    28.89456
std            44.425550     7.85432
min            55.120000    10.30000
25%            77.067500    23.50000
50%            91.680000    28.10000
75%           113.495000    33.10000
max           271.740000    97.60000